body {
	padding: 0;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	
}

.container {
	width: 1200px;
	text-align: center;
	position: relative;
  margin: 0 auto;
}

.main-navigation {
  font-size: 14px;
  line-height: 20px;
  color: #000000;

}
li {
    list-style-type: none; /* Убираем маркеры */
}
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
}
a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   } 
.site-navigation,
.user-navigation {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.site-navigation{
	position: relative;
	height: 65px;
	font-weight: 700;

}
.main-img {
	margin-top: -18px;  /*не точные размеры !!!*/
}
.main-navigation-logo{
	position: absolute;
	right: 532px;

}
.features-item-descrip{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 400px;
	margin: 40px;

}
.site-navigation a,
.user-navigation a {
  color: #000000;
}
.site-navigation a:hover,
.user-navigation a:hover {
  color: #81b3d2;
}
.site-navigation a:focus,
.user-navigation a:focus {
  color: #b2b2b2;
}
.site-navigation a:active,
.user-navigation a:active {
  color: #b2b2b2;
}

.features-item {
  list-style: none;
  display: flex;
  height: 256px;
  margin-top: 55px;

}
.features-title{
	list-style: none;
}
.features-title {
  text-align: center;
}

.features-title h1, {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.features-title p {
  font-size: 14px;
  line-height: 26px; 
}
.features-item {
  color: #ffffff;
  background-color: #81b3d2;
  background-position: 0 0;
  background-repeat: repeat;
}
.features-item-descrip h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.features-icons{
	display: flex;
	margin-top: 60px;
}
.features-icons h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.features-other {
  background-color:#eeeeee;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding-top: 47px;
  padding-bottom: 63px;
}
button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2; /*#766357*/
  border: none;
}
button:hover,
button:focus {
  background-color: 604e43;
}
button:active {
  background-color: 503e33;
}


.search-button {
  width: 568px;
  height: 86px;
  background-color: #766357;
  font-size: 21px;
  text-transform: uppercase;
  cursor: pointer;
}


.footer-social {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none
}

.form-holder {
  position: relative;
}

.search-form {
  position: absolute;
  top: 86px;
  left: 50%;
  right: 50%;
  margin-left: -284px;
  width: 568px;
  padding: 20px;
  background-color: #ccc;
  box-sizing: border-box;
}
.hotel-search h2 {
	font-size: 30px;
	font-weight: 400;
}
.form-holder input {
  font: inherit;
  background-color: #f2f2f2;
}
.form-holder input:hover {
  background-color: #ebebeb;
  /*border-color: #663d15;*/
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 33.3%;
    padding-top: 45px;
}
.form-holder input:focus {
  background-color: #ffffff;
  border-color: #ebebeb;  
       /* ???? */
}

.form-holder-adults-children {
	display: flex;

}

.footer {
	display: flex;
	justify-content: space-between;
	width: 1200px;
}
.social-button {
	background-color: #81b3d2;
	width:46px ;
	height:48px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.social-button:hover {
  background-color: #ccc
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
 }
.hotel-filter {
	background-color: #5581aa;
  background-image: url("img/background-image-2.jpg"); /*почему не подключается фоновая картинка?*/
	display: flex;
	justify-content: space-between;	
	}

/*.checkbox-filter {
	
  
}
.infrastructure-list,
.accommodation-list,
.price-filter {
	display: flex;
	flex-direction: column;
  font-size: 16px;

}*/
.sorting-list{
	display: flex;
}
.hotel-cards {
	display: flex;
	flex-direction: column;
}



